{% extends 'admin/index.html.twig' %}
{% block body %}
    <div class="row">
        {% if orders is defined %}
            {% for order in orders %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Заказ номер #{{ order.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Дата заказа: {{ order.date|date('Y-m-d') }}</h6>
                        <p class="card-text">Телефон: {{ order.phone }} </p>
                        <p class="card-text">Email: {{ order.email }} </p>
                        <a href="/admin/order/{{ order.id }}" class="card-link">Подробее о заказе</a>

                    </div>
                </div>



            {% endfor %}
        {% else %}
            Извините, у нас временно нет продуктов данной категории.
        {% endif %}
    </div>

{% endblock %}
{% block button %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/admin/products/addProducts">Добавить</a>
                </button>
            </div>

        </div>

    </div>
{% endblock %}