{% extends 'admin/index.html.twig' %}
{% block body %}
    <div class="row">
        {% if reviews is defined %}

                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                    </div>
                    <input value="{{ reviews.titleName }}" id="nameRev" type="text" class="form-control" placeholder="Имя, кто прислал отзыв" aria-label="Имя пользователя" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Текст отзыва</span>
                    </div>
                    <textarea id="rev" class="form-control" aria-label="With textarea">{{ reviews.content }}</textarea>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Текст ответа</span>
                    </div>
                    <textarea id="ans" class="form-control" aria-label="With textarea">{{ reviews.answer }}</textarea>
                </div>
                <button onclick="sendreviews({{ reviews.id }})" type="button">Отправить</button>

           
        {% else %}
            Извините, у Вас еще нет отзывов.
        {% endif %}
    </div>

{% endblock %}
{% block button %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/admin/deletereviews/{{ reviews.id }}">Удалить</a>
                </button>
            </div>

        </div>

    </div>
{% endblock %}